html
  head
    title Dashboard :: Register
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    link(rel='stylesheet', href='stylesheets/style.css')

div(class="text-center mt-5")
    span Hello #{data.firstName} #{data.lastName}, Thank you for signing up. Your account is now created.
    if data.isSubscribed
        span(class="d-block") You would be receiving our periodic newsletters to your email: #{data.email}